# Ignore OS X directory files
.DS_Store

# Ignore Eclipse configuration files
.classpath
.project
.settings

# Ignore target compilation directories
bin
target

# Ignore environment configuration
config.properties
log4j2.xml

